.btn--hover:hover,
.btn-select:hover {
  background: #dfc722 !important;
}
.input-row {
  position: relative;
}
.input-placeholder-val {
  position: absolute;
  top: 15px;
  transition: all 0.4s;
  color: #888;
  display: block;
  text-align: center;
  width: 100%;
}
.input-animate {
  display: inline-block;
  z-index: 20;
  color: #000;
}
.input-animate:focus+span,
.input-animate[data-empty="false"] + span {
  top: 3px;
  font-size: 10px;
}
.input__error {
  display: none;
  font-size: 12px;
  color: #f00;
  margin-bottom: 10px;
  margin-top: -10px;
  text-align: center;
}
.nice-select {
  border-radius: 4px;
  margin-bottom: 20px;
  display: block;
  color: #000;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #cdcdcd;
}
.nice-select .list {
  width: calc(100%);
  left: 0px;
  border-radius: 4px;
  border: 0px solid $border-color;
  border-top: 0;
  margin-top: 0;
}
select.select-beauty {
  display: none !important;
}
.element-select {
  padding: 20px 0;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border: 1px solid #cdcdcd;
}
.form-order-block .nice-select.select-beauty {
  display: block;
  width: 100%;
}
.form-order-block .current {
  display: block;
  text-align: center;
  color: #888;
}
.nice-select .option {
  font-size: 14px;
  text-align: center;
}
