.btn--hover:hover,
.btn-select:hover {
  background: #dfc722 !important;
}
.input-row {
  position: relative;
}
.input-placeholder-val {
  position: absolute;
  top: 15px;
  transition: all 0.4s;
  color: #888;
  display: block;
  text-align: center;
  width: 100%;
}
.input-animate {
  display: inline-block;
  z-index: 20;
  color: #000;
}
.input-animate:focus+span,
.input-animate[data-empty="false"] + span {
  top: 3px;
  font-size: 10px;
}
.input__error {
  display: none;
  font-size: 12px;
  color: #f00;
  margin-bottom: 10px;
  margin-top: -10px;
  text-align: center;
}
